*{
	margin: 0;
	padding: 0;
}
header{
	
	width: 100% ;
	height: 150px;
	overflow: hidden;
	position: relative;
	top: -10px;
}
nav{
	top: -20px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px auto;

	
}

nav ul{
	list-style: none;
}
nav> ul{
	display: table;
	width: 100%;
	height: auto;
	left: 0px;
	right: 0px;
	background:  #ba1927;
	position: relative;
}

nav > ul li{
	display: table-cell;
}
/*sub  menu*/
nav> ul >li:hover >ul{
	display: block;
	height: 100%;
}

nav > ul >li >ul{
	display: block;
	position: absolute;
	background: black;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
     transition: all .3s ease;
}


nav > ul li a{
	color: white;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
     transition: all .3s ease;
}
nav >ul >li >ul >li a:hover{
	background: #ba1927;
}

nav >ul >li > a  span{
	background: red;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55pc;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
     transition: all .3s ease;
}


nav >ul >li > a  span .icon{
display: block;
line-height: 60px;
}

nav > ul >li > a:hover > span{
top: 0;

}